body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8be8cf), color-stop(100%,#cdeb8b));
    font-family: "Helvetica Neue", Helvetica, Arial;
    min-height: 800px;
}
.form-container {
  padding-top: 15vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8be8cf), color-stop(100%,#cdeb8b));
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}
#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}
#signup .header {
    margin-bottom: 20px;
}
#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}
#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}
.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
    height: 37px;
}
#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}
#signup .inputs {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 400px;
}
.mulipleInput {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#signup .input {
  background-color: white;
}
