* {
font-family: 'Hind', sans-serif!important;
}
.homepage {
  background-image: url('https://imgur.com/Ppo9wd5.png');
   background-repeat: no-repeat;
   background-size: cover;
}

.avocado {
  height: 50vh;
  margin-left: 200px;
  background-image: url('https://cdn4.iconfinder.com/data/icons/food-outline-1/100/pack-14-512.png');
   background-repeat: no-repeat;
   background-size: contain;
}
h1.title.on-home {
  margin-top: 147px;
}
.hero.is-info .title {
  color: black;
}
.hero.is-info .subtitle {
    color: black;
}
